# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output and caches
/.next/
/out/
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local configuration env files
.env*.local
.env.local

# Vercel
.vercel

# SQLite database files and SQLite temp journals
data/
*.db
*.db-shm
*.db-wal
*.db-journal

